/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
  transition: ease-in 3s;
}

.pcolor {
  background: #2f3a90;
}

.navlink {
  background-color: red;
  color: green;
}
.link{
  text-decoration: none;
}
.aa {
  color: yellow;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.pic1an1 {
  font-size: 60px;
  font-weight: bold;
  animation: pic1an1 10s infinite;
}

@keyframes pic1an1 {
  0% {
    color: white;
    transform: translateX(0px);
  }

  50% {
    color: rgb(0, 97, 242);
    /* Change to any color you like */
    transform: translateY(-100px);
    /* Move the text up */
  }

  60% {
    color: white;
    transform: translateY(0px);
  }
}

.pic1an {
  font-size: 60px;
  font-weight: bold;
  -webkit-text-stroke: 0.3px black;
  animation: pic1an2 10s infinite;
}

@keyframes pic1an2 {
  0% {
    color: white;
    transform: translateX(50px);
  }

  50% {
    color: white;
    /* Change to any color you like */
    transform: translateX(-50px);
    /* Move the text up */
  }

  100% {
    color: white;
    transform: translateX(0);
  }
}


.pic2an1 {
  font-size: 60px;
  font-weight: bold;
  animation: pic2an1 10s infinite;
}

@keyframes pic2an1 {
  0% {
    color: white;
    transform: translateX(0px);
  }

  50% {
    color: rgb(0, 97, 242);
    /* Change to any color you like */
    transform: translateY(-100px);
    /* Move the text up */
  }

  60% {
    color: white;
    transform: translateY(0px);
  }
}

.pic2an {
  font-size: 60px;
  font-weight: bold;
  -webkit-text-stroke: 0.3px black;
  animation: pic2an2 8s infinite;
}

@keyframes pic2an2 {
  0% {
    color: white;
    transform: translateX(-180px);
  }

  40% {
    color: white;
    /* Change to any color you like */
    transform: translateX(0px);
    /* Move the text up */
  }

  60% {
    color: white;
    transform: translateX(180px);
  }
}


.pic3an1 {
  font-size: 60px;
  font-weight: bold;
  animation: pic3an1 10s infinite;
}

@keyframes pic3an1 {
  0% {
    color: white;
    transform: translateX(0px);
  }

  50% {
    color: rgb(0, 97, 242);
    /* Change to any color you like */
    transform: translateY(-100px);
    /* Move the text up */
  }

  60% {
    color: white;
    transform: translateY(0px);
  }
}

.pic3an {
  font-size: 60px;
  font-weight: bold;
  -webkit-text-stroke: 0.3px black;
  animation: pic3an2 8s infinite;
  background-size: cover;
}

@keyframes pic3an2 {
  0% {
    color: white;
    transform: translateX(180px);
  }

  50% {
    color: white;
    /* Change to any color you like */
    transform: translateX(-100px);
    /* Move the text up */
  }

  100% {
    color: white;
    transform: translateX(0);
  }
}

.hover:hover {
  animation: st 0.5s;
}

.bookyourticketbtn:hover {
  padding: 60px;
  background: #171a97db;
  font-size: 21px;
  box-shadow: 20px gray;
  transition: ease 0.1s;
}

.sp1:hover {
  animation: sp 2s;

}

.sp2:hover {
  animation: sp 2s;

}

.sp3:hover {
  animation: sp 2s;

}

@keyframes sp {
  0% {
    color: white;
    transform: translateX(100px);
  }

  50% {
    color: white;
    /* Change to any color you like */
    transform: translateX(-10px);
    /* Move the text up */
  }

  100% {
    color: white;
    transform: translateX(0);
  }
}

@keyframes st {
  0% {
    transform: translateY(0px);
  }

  20% {
    color: gray;
    /* Change to any color you like */
    transform: translateY(2px);
    /* Move the text up */
  }

  40% {
    transform: translateY(4px);
  }

  60% {
    transform: translateY(5px);
  }

  80% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0px);
  }
}

.momo {
  animation: momoa 3s infinite, delay 5s;
  cursor:
}

@keyframes momoa {
  0% {
    font-size: 160%;
  }

  20% {
    font-size: 161%;
  }

  40% {
    font-size: 172%;
  }

  60% {
    font-size: 173%;
  }

  80% {
    font-size: 172%;
  }

  100% {
    font-size: 162%;
  }
}

.route:hover {
  animation: rt 1s;
}

@keyframes rt {
  50% {
    opacity: 0.1;
    font-size: 18px;
  }
}